aspect-stable==0.7.dev1
innate-stable==0.2.1
lime-stable==2.2.dev1
specsy==0.9.dev1
pyneb~=1.1.28
bokeh==3.9.0
streamlit==1.55.0
streamlit_bokeh==3.9.0
streamlit-authenticator==0.4.2
st-gsheets-connection~=0.1
google-api-python-client~=2.187.0

